:root {
    /* Global */
    --kiwi-range-border-color: var(--kiwi-core-green-400);
    --kiwi-range-bg-color: var(--kiwi-core-white);
    --kiwi-range-br: var(--kiwi-core-br-16);

    /* Thumb */
    --kiwi-range-thumb-br: var(--kiwi-core-br-64);
    --kiwi-range-thumb-color: var(--kiwi-core-green-700);
}