:root {
    --kiwi-breadcrumbs-color: var(--kiwi-core-neutral-400);
    --kiwi-breadcrumbs-active-color: var(--kiwi-core-green-800);
    --kiwi-breadcrumbs-hover-transition: var(--kiwi-core-fast-transition);
}