.m--0 {
    margin: 0;
}

.mt--4 {
    margin: 4px 0 0 0;
}

.mt--8 {
    margin: 8px 0 0 0;
}

.mb--8 {
    margin: 0 0 8px 0;
}

.mb--12 {
    margin: 0 0 12px 0;
}

.pv--0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pv--4 {
    padding: 4px 0;
}

.pv--8 {
    padding: 8px 0;
}

.pv--12 {
    padding: 12px 0;
}

.pb--12 {
    padding: 0 0 12px 0;
}