@import "../../../../tokens/index.scss";
@import "./button.tokens.scss";

.kiwi-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 0;
  font-family: var(--kiwi-button-ff);
  border-radius: var(--kiwi-button-br);

  &--primary {
    color: var(--kiwi-button-primary-text-color);
    background-color: var(--kiwi-button-primary-bg);
    transition: var(--kiwi-button-transition);

    &:hover {
      box-shadow: 0 0 0 1px var(--kiwi-button-primary-bg-contrast);
      background-color: var(--kiwi-button-primary-bg-hover);
      transition: var(--kiwi-button-transition);
    }

    &:focus {
      box-shadow: 0 0 0 4px var(--kiwi-button-primary-bg-contrast);
      background-color: var(--kiwi-button-primary-bg);
    }
  }

  &--secondary {
    color: var(--kiwi-button-secondary-text-color);
    background-color: var(--kiwi-button-secondary-bg);
    box-shadow: 0px 0px 0px 1px inset var(--kiwi-button-secondary-border);

    &:hover {
      &:after {
        content: "";
        background-color: var(--kiwi-button-secondary-bg-hover);
        border-radius: var(--kiwi-button-br);
        position: absolute;
        right: -5px;
        left: 4px;
        bottom: -4px;
        top: 4px;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        z-index: -1;
      }
    }

    &:focus {
      box-shadow: 0 0 0 4px var(--kiwi-button-primary-bg-contrast);
      background-color: var(--kiwi-button-secondary-bg);
      &:after {
        content: none;
      }
    }
  }

  &--small {
    padding: var(--kiwi-button-small-pv) var(--kiwi-button-small-ph);
  }

  &--medium {
    padding: var(--kiwi-button-medium-pv) var(--kiwi-button-medium-ph);
  }

  &--large {
    padding: var(--kiwi-button-large-pv) var(--kiwi-button-large-ph);
  }

  &--disabled {
    pointer-events: none;
    background-color: var(--kiwi-button-disabled-bg);
    color: var(--kiwi-button-disabled-bg-contrast);
    box-shadow: none;
  }

  &--danger {
    color: var(--kiwi-button-danger-bg-contrast);
    background-color: var(--kiwi-button-danger-bg);
    transition: var(--kiwi-button-transition);

    &:hover {
      background-color: var(--kiwi-button-danger-bg-hover);
      transition: var(--kiwi-button-transition);
      box-shadow: none;
    }

    &:focus {
      color: var(--kiwi-button-danger-bg-contrast);
      background-color: var(--kiwi-button-danger-bg);
      box-shadow: 0 0 0 4px var(--kiwi-button-danger-border-focus);
    }
  }
}
