:root {
  --kiwi-core-black: #000000;
  --kiwi-core-green-100: #f6f2cf;
  --kiwi-core-green-200: #e8f1bc;
  --kiwi-core-green-300: #ceecab;
  --kiwi-core-green-400: #ade69a;
  --kiwi-core-green-500: #89df8b;
  --kiwi-core-green-600: #77c489;
  --kiwi-core-green-700: #65aa83;
  --kiwi-core-green-800: #538e7a;
  --kiwi-core-green-900: #42736c;
  --kiwi-core-neutral-100: #f5f5f5;
  --kiwi-core-neutral-200: #d0cfce;
  --kiwi-core-neutral-300: #b7b7b7;
  --kiwi-core-neutral-400: #474747;
  --kiwi-core-neutral-500: #313131;
  --kiwi-core-neutral-600: #171717;
  --kiwi-core-warm-100: #ffe9a4;
  --kiwi-core-warm-200: #ffd584;
  --kiwi-core-warm-300: #febc67;
  --kiwi-core-warm-400: #f6a04e;
  --kiwi-core-warm-500: #ea8237;
  --kiwi-core-warm-600: #d96b30;
  --kiwi-core-warm-700: #c75629;
  --kiwi-core-warm-800: #b54222;
  --kiwi-core-warm-900: #a3311c;
  --kiwi-core-white: #ffffff;
}
