:root {
    --kiwi-semantic-danger: var(--kiwi-core-green-900);
    --kiwi-semantic-primary: var(--kiwi-core-green-400);
    --kiwi-semantic-primary-contrast: var(--kiwi-core-green-900);
    --kiwi-semantic-secondary: var(--kiwi-core-warm-500);
}