:root {
    --kiwi-core-fs-48: 48px;
    --kiwi-core-fs-40: 40px;
    --kiwi-core-fs-36: 36px;
    --kiwi-core-fs-32: 32px;
    --kiwi-core-fs-24: 24px;
    --kiwi-core-fs-20: 16px;
    --kiwi-core-fs-14: 14px;
    --kiwi-core-ff-primary: 'Baloo 2';
    --kiwi-core-ff-secondary: 'Poppins';
    --kiwi-core-fw-500: 500;
    --kiwi-core-fw-600: 600;
    --kiwi-core-fw-500: 700;
    --kiwi-core-fw-500: 800;
}