@import "../../../../tokens/index.scss";
@import "./input.tokens.scss";

.kiwi-input {
  padding: 12px;
  min-width: 300px;
  background-color: var(--kiwi-input-background-color);
  border: var(--kiwi-input-border-width) solid var(--kiwi-input-border-color);
  border-radius: var(--kiwi-input-border-radius);
  display: flex;

  input {
    border: none;
    width: 100%;
    padding: 0;
    color: var(--kiwi-input-text-color);
    font-family: var(--kiwi-input-ff);
    background-color: transparent;

    &::placeholder {
      color: var(--kiwi-input-placeholder-text-color);
    }

    &:focus-visible {
      outline: none;
    }
  }

  &:focus-within {
    outline: none;
    border: 2px solid var(--kiwi-input-focus-border-color);
  }

  &--disabled {
    pointer-events: none;
    border: 1px solid var(--kiwi-input-disabled-border-color);
    background-color: var(--kiwi-input-disabled-bg-color);

    input::placeholder {
      color: var(--kiwi-input-disabled-text-color);
    }
  }

  &--danger {
    color: var(--kiwi-input-danger-text-color);
    border: 1px solid var(--kiwi-input-danger-border-color);

    &:focus-visible {
      border: 2px solid var(--kiwi-input-danger-border-color);
    }
  }

  &__clear {
    font-family: var(--kiwi-input-ff);
    font-weight: var(--kiwi-core-fw-600);
    cursor: pointer;
  }

  .kiwi-icon {
    --kiwi-icon-color: var(--kiwi-core-green-900);
    --kiwi-icon-fs: var(--kiwi-core-fs-20);

    margin-right: .5rem;
  }
}
