$kiwi-token-set-order-0: global;
$kiwi-core-warm-100: #FFE9A4;
$kiwi-core-fs-16: 16;
$kiwi-core-fs-20: 20;
$kiwi-core-fs-24: 24;
$kiwi-core-fs-36: 36;
$kiwi-core-fs-40: 40;
$kiwi-core-fs-48: 48;
$kiwi-core-lh-24: 24;
$kiwi-core-lh-32: 32;
$kiwi-core-lh-48: 48;
$kiwi-core-lh-56: 56;
$kiwi-core-lh-64: 64;
$kiwi-core-heading-1-font-size: 48;
$kiwi-core-heading-1-line-height: 64;
$kiwi-core-heading-1-font-family: Baloo2;
$kiwi-core-heading-1-font-weight: 800;
$kiwi-core-fw-500: 500;
$kiwi-core-fw-600: 600;
$kiwi-core-fw-700: 700;
$kiwi-core-fw-800: 800;
$kiwi-core-ff-secondary: Poppins;
$kiwi-core-ff-primary: Baloo2;
$kiwi-semantic-primary-contrast: #42736C;
$kiwi-semantic-primary: #89DF8B;
$kiwi-core-green-900: #42736C;
$kiwi-core-green-800: #538E7A;
$kiwi-core-green-700: #65AA83;
$kiwi-core-green-600: #77C489;
$kiwi-core-green-500: #89DF8B;
$kiwi-core-green-400: #ADE69A;
$kiwi-core-green-300: #CEECAB;
$kiwi-core-green-200: #E8F1BC;
$kiwi-core-green-100: #F6F2CF;