:root {
    --kiwi-core-br-4: 4px;
    --kiwi-core-br-8: 8px;
    --kiwi-core-br-12: 12px;
    --kiwi-core-br-16: 16px;
    --kiwi-core-br-24: 24px;
    --kiwi-core-br-32: 32px;
    --kiwi-core-br-40: 40px;
    --kiwi-core-br-48: 48px;
    --kiwi-core-br-56: 56px;
    --kiwi-core-br-64: 64px;
}