:root {
    --kiwi-core-spacing-4: 4px;
    --kiwi-core-spacing-8: 8px;
    --kiwi-core-spacing-12: 12px;
    --kiwi-core-spacing-16: 16px;
    --kiwi-core-spacing-24: 24px;
    --kiwi-core-spacing-32: 32px;
    --kiwi-core-spacing-40: 40px;
    --kiwi-core-spacing-48: 48px;
    --kiwi-core-spacing-56: 56px;
    --kiwi-core-spacing-64: 64px;
}