:root {
    /* Font size */
    --kiwi-core-fs-64: 64px;
    --kiwi-core-fs-48: 48px;
    --kiwi-core-fs-40: 40px;
    --kiwi-core-fs-36: 36px;
    --kiwi-core-fs-32: 32px;
    --kiwi-core-fs-24: 24px;
    --kiwi-core-fs-20: 20px;
    --kiwi-core-fs-16: 16px;
    --kiwi-core-fs-14: 14px;
    --kiwi-core-fs-12: 12px;

    /* Font family */
    --kiwi-core-ff-primary: "Baloo 2", sans-serif;
    --kiwi-core-ff-secondary: "Poppins", sans-serif;

    /* Font weight */
    --kiwi-core-fw-500: 500;
    --kiwi-core-fw-600: 600;
    --kiwi-core-fw-700: 700;
    --kiwi-core-fw-800: 800;

    /* Line height */
    --kiwi-core-lh-64: 64px;
    --kiwi-core-lh-56: 56px;
    --kiwi-core-lh-48: 48px;
    --kiwi-core-lh-40: 40px;
    --kiwi-core-lh-36: 36px;
    --kiwi-core-lh-32: 32px;
    --kiwi-core-lh-24: 24px;
    --kiwi-core-lh-20: 20px;
    --kiwi-core-lh-16: 16px;
    --kiwi-core-lh-14: 14px;
}