:root {
    --kiwi-notice-message-bg-color: var(--kiwi-core-green-200);
    --kiwi-notice-message-color: var(--kiwi-core-green-900);
    --kiwi-notice-message-icon-color: var(--kiwi-core-green-200);
    --kiwi-notice-message-border-radius: var(--kiwi-core-br-16);
    --kiwi-notice-message-padding: var(--kiwi-core-spacing-16);
}