:root {
    /* Global */
    --kiwi-card-bg: var(--kiwi-core-white);
    --kiwi-card-border-color: var(--kiwi-core-green-800);
    --kiwi-card-border-radius: var(--kiwi-core-br-16);
    --kiwi-card-max-height: 400px;
    --kiwi-card-max-width: 300px;
}