:root {
    /* Global */
    --kiwi-card-bg: var(--kiwi-core-white);
    --kiwi-card-border-color: var(--kiwi-core-green-800);
    --kiwi-card-border-radius: var(--kiwi-core-br-16);
    --kiwi-card-min-height: 400px;
    --kiwi-card-max-width: 300px;
    --kiwi-card-image-max-height: 166px;
    --kiwi-card-content-padding: var(--kiwi-core-spacing-16);
    --kiwi-card-categories-gap: 8px;
}